/.gitattributes text eol=lf
/docker-compose.yml text eol=lf
/.dockerignore text eol=lf
/Dockerfile text eol=lf
/scripts/database/10-create-runtime-user.sh text eol=lf
/scripts/deployment/rabbitmq.conf text eol=lf
